@using Microsoft.JSInterop;
@inject IJSRuntime JSRuntime
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Welcome to Daniel van Schoor's website</h1>
    <p>This page was built using <a href="https://dotnet.microsoft.com/apps/aspnet">ASP.NET 5.0</a>.</p>
</div>



<script>
    function BlazorBlurElement(element) {
        if (element instanceof HTMLElement) {
            element.blur();
        }
    }
</script>
<script src="_framework/blazor.webassembly.js"></script>
@*@(await Html.RenderComponentAsync<AzureWebsite.Views.Blazor.RedditFeed>(RenderMode.ServerPrerendered))*@
@(await Html.RenderComponentAsync<RazorComponentLibrary.RedditFeed>(RenderMode.ServerPrerendered))